
<p>
  <h1>
  	<strong>Title:</strong>
  	<%= @question.title %>
  </h1>
</p>

<p>
  <!-- <strong>Description:</strong> -->	
  <div class="question_description"> <%= @question.description %> </div>
</p>
<% if user_signed_in? && current_user.id == @question.user_id %>
	<%= link_to 'Edit', edit_question_path(@question) %> 
	<%= link_to 'New Question', new_question_path %>
<% end %>
<div class="comments" name="comments" >
	<h2> Comments </h2>
	<%= render 'comments/show_selective', :comments => @comments  %>
	
	<br>
	<div class= "comment_form" name="comment_form">
		<strong> Post Comment </strong>
		<%= render 'comments/form' %>
	</div>
</div>

<br>
<div class="answers" name="answers">
	<h2> Answers </h2>
	<div name="answers_list" >
		<% @answers.each do |answer| %>
			<h3> Answer </h3>
			<% if answer.user.present?%>
				<%= render 'answers/show', :answer => answer  %>
				<div class="comments" name="comments" >
					<b> Comments </b>
					<%= render 'comments/show_selective', :comments => answer.comments  %>
					<div name="comment_form">
						<strong> Post Comment </strong>
						<%= render 'comments/form', :@comment => answer.comments.build  %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>


	<br>
	<div class="answer_form" name="answer_form">
		<h2> Post Answer </h2>
		<%= render 'answers/form' %>
	</div>

</div>

