<!DOCTYPE html>
<html>
	<head>
		<title> Stack overflow</title>
		<%= stylesheet_link_tag "application", media: "all",
		"data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class="<%= controller.controller_name %>">
		<div id="banner">
			<%= image_tag("logo.png") %>
			<%= @page_title || "Stack overflow" %>
			<% if user_signed_in? %>
				<div id="sign_in"> 
					<p> <%= link_to "log out", destroy_user_session_path, :method=>'delete' %> </p>
				</div>
			<% else %>
				<div id="sign_in"> 
					<p> <%= link_to "log in", new_user_session_path %> </p>
				</div>
			<% end %>
		</div>
		<div id="columns">
			<div id="side">
				<ul>
					<li><a href= '/' >Home</a></li>
					<li><a href='/' >Questions</a></li>
				</ul>
			</div>
			<div id="main">
				<%= yield %>
			</div>
		</div>
	</body>
</html>